.container{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.left-profile{
flex-flow: 0 0 35%;
display: flex;
flex-direction: column;
justify-content: center;

}

.right-profile{
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    }

    .button{
        display: flex;
        justify-content: space-between;
    }

   .primary{
       background-color: #132643;
       color:white;
   }
   .secondary{
    background-color: #d1515a;
   }
   .success{
    background-color: #6fdfc3;
   }

    @media  screen and (max-width:900px ){
        .container{
            
            flex-flow: column nowrap;
            justify-content: space-evenly;
        }
    }