/* HEADER SECTION */
nav {
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  background-color: #132643;
  padding: 5px;
  position: fixed;
  top: 0;
  width: 100%;
  color:white;
}

.navbar-brand {
  display: flex;
}

.leftnav {
  display: flex;
  margin-left: 10px;
  align-items: center;
  gap: 10px;
  flex: 0.5;
  height: 100%;
  color:white
}

.input {
  position: relative;
}

.search-input {
  outline: none;
  border: 1px solid lightgray;
  background-color: #f0f2f5;
  padding: 10px 40px;
  border-radius: 20px;
}

.search-icon {
  left: 10px;
  top: 16px;
  position: absolute;
  font-size: 32px;
  color: #828890;
}

.middlenav {
  padding: 10px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
  flex-direction: row;
  color:white;
  
}
.middlenav >ul{
  list-style-type: none;
}

.middlenav > div {
  height: 100%;
  width: 90%;
  display: flex;
  
  align-items: center;
  padding: 18px 15px;
  justify-content: center;
}
.icon {
  color: #d1515a;
}

.profile {
  width: 43px;
  height: 43px;
  margin: 0 auto 10px;
  display: block;
  border-radius: 50%;
  cursor: pointer;
  color:white;
}

.rightnav {
  flex: 0.5;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-items: flex-end;
  color:white;
}

.rightnav > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 15px;
  gap: 10px;
 
}

a:-webkit-any-link,.nav-link{
  color:white;
}


@media screen and (max-width: 900px) {
  .middlenav,
  .label {
    display: none;
  }
}
